services:
  api:
    container_name: prtl-base-api
    build:
      context: .
    ports:
      - "80:80"
    environment:
      - ENV=local
    volumes:
      - ./:/app
    networks:
      - prtl-base-network
networks:
  prtl-base-network:
